body {
    background-color: #F5EFE1;
}

.header-nav {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.nav-left {
    flex: 0 0 30%;
    width: 30%;
    text-align: left;
    padding-left: 5px;
}
  
.nav-centre {
    flex: 0 0 40%;
    width: 40%;
}
  
.nav-right {
    flex: 0 0 30%;
    width: 30%;
    text-align: right;
}

.logo-image {
    width: 60%;
}

.hamburger-image {
    width: 30%
}

.hamburger-image:hover {
    cursor: pointer;
}

.main-intro {
    font-family: 'Lora', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
    letter-spacing: 2px;
}

.intro-hello-container {
    width: 50%;
    padding-left: 20%;
}

.intro-overview-container {
    width: 60%;
    text-align: center;
}

#green-font {
    color: black;
    text-decoration: none;
    background-image: linear-gradient(to right, #628273 50%, transparent 50%);
    background-position: 0 1.08em;
    background-repeat: repeat-x;
    background-size: 6px 5px;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#green-font:hover {
    color: #628273;
    padding-bottom: 4px;
}

#yellow-font {
    color: black;
    text-decoration: none;
    background-image: linear-gradient(to right, #B69128 50%, transparent 50%);
    background-position: 0 1.08em;
    background-repeat: repeat-x;
    background-size: 6px 5px;
}

#yellow-font:hover {
    color: #B69128;
}

#pink-font {
    color: black;
    text-decoration: none;
    background-image: linear-gradient(to right, #D58389 50%, transparent 50%);
    background-position: 0 1.08em;
    background-repeat: repeat-x;
    background-size: 6px 5px;
}

#pink-font:hover {
    color: #D58389;
}

.main-about {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    flex-wrap: wrap;
}

.about-image {
    width: 90%;
}

.about-image-container {
    flex: 2 2 200px;
    max-width: 360px;
}

.about-text-container {
    flex: 3 3 200px;
    font-family: 'Lora', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.the-div-that-holds-the-divs {
    display: flex;
    flex-direction: column;
}

.project-row-one {
    display: flex;
    margin-right: -50px;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
}

.project-row-two {
    display: flex;
    margin-left: -50px;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
}

.project-main-container {
    display: flex;
    justify-content: center;
}

.project-background-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 13vw;
    font-weight: 800;
    transition: all 250ms ease 0s;
    position: fixed;
    margin-top: 8%;
    margin-bottom: 8%;
    transform: scale(1);
}

.holder-div {
    flex: 1 1 300px;
    max-width: 360px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 2%;
    box-shadow: rgba(222, 170, 147, 0.08) 8px 8px 0px 0px;
    animation: ckSPyH 1s ease 0s infinite alternate none running;
}

@keyframes ckSPyH {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(2%);
    }
}

@keyframes text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.project-image {
    width: 100%;
}

.project-page-container {
    display: flex;
    flex-direction: column;
}

.project-details-container {
    display: flex;
    margin-left: 15%;
    margin-right: 5%;
}

.project-details-header {
    flex: 1;
    font-size: 2em;
}

.project-details-more-info {
    flex: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

.tech-stack-details {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
}

#about-yellow {
    color: #B23B01;
}

#about-pink {
    color: #D58389;
}

#about-blue {
    color: #537A9B;
}

#about-lilac {
    color: #B69128;
}

.menu {
    font-family: 'Lora', serif;
}

.cheeseburger-menu-outer {
    background-color: #537A9B !important;
}
  
.menu-item {
    margin: 5px;
    font-size: 23px;
    padding-left: 10%;
    padding-top: 10%;
}
  
.menu-item a {
    display: block;
    padding: .7rem 15px;
    color: inherit;
    text-decoration: none;
}
  
.menu-item a:hover {
    color: white !important;
    text-decoration: none;
}
  
.menu-item a:focus {
    text-decoration: none;
}
  
.menu-item a:visited {
    color: inherit;
}

.about-header-text {
    font-size: 1.3em;
}

.the-brief-header-text {
    color: #B23B01;
}

.the-role-header-text {
    color: #B69128;
}

.the-tech-header-text {
    color: #628273;
}

.video-container {
    display: flex;
    justify-content: center;
}

.video-content {
    width: 80%;
}